<!--- Footer -->
<footer>
  <div class="container-fluid corp">
    <div class="row text-left">

      <div class="col-md-4">
        <h4>Our Philosophy</h4>
        <hr>
        <p>(edit)We know the greatness in a disruptive era requires bold ambition,
          curious talent and a culture that believes we're smarter together.</p>
      </div>
      <div class="col-md-4">
        <h4>Contact Us</h4>
        <hr>
        <p>000-000-0000</p>
        <p>corp.mxt@gmail.com</p>
        <p>350 Rue Prince Arthur Ouest</p>
        <p>Montreal, QC, Canada, H2X 3R4</p>
      </div>
      <div class="col-md-4">
        <h4>Subscribe to newsletter</h4>
        <hr>
        <div class="form-group">
            <div class="input-group">
                <input type="text" class="form-control footer-input-text">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-outline-secondary btn-md" onclick="javascript:alert('Thank you for Subscribing!')">OK</button>
                </div>
            </div>
      </div>
    </div>
    <div class="col-12 text-center">
      <hr class="light-100">
      <h6>&copy; mxt.com</h6>
    </div>
  </div>
</footer>
