<!--- Footer -->
<footer>
  <div class="container-fluid corp">
    <div class="row text-center">

      <div class="col-md-6">
        <h4><br></h4>
        <hr style="display:none;">
        <p></p>
      </div>
      <div class="col-md-6">
        <h4>Contact Us</h4>
        <hr>
        <p>000-000-0000</p>
        <p>corp.mxt@gmail.com</p>
        <p>Address</p>
        <p>Montreal, QC, Canada, Postal Code</p>
      </div>

    <div class="col-12 text-center">
      <hr class="light-100">
      <h6>Copyright&copy; 2019 MXT. All Rights Reserved by crewmxt.com</h6>
    </div>
  </div>
</footer>
