<!DOCTYPE html>
<html lang="en">
<head>
  <title>MxTwebsite</title>
  <meta charset="utf-8">
  <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  <!-- <% include ./partials/header %> -->
</head>
<!-- <% include ./partials/navbar %> -->
<body>
<h1>Announcements</h1>
<input class="searchbox" type="text" placeholder="Search" name="" value="">
<button type="button" name="button"><i class="fas fa-search"></i></button>

<hr>
    <a href="#">Announcement1</a><br>
<hr>
    <a href="#">Announcement2</a><br>
<hr>
    <a href="#">Announcement3</a><br>
<hr>
    <a href="#">Announcement4</a>
<hr>



<!-- <% include ./partials/footer %> -->
</body>
</html>
