<!DOCTYPE html>
<html lang="en">
<head>
  <title>MxTwebsite</title>
  <meta charset="utf-8">

  <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>


  <meta name="viewport" content="width=device-width, initial-scale=1"> <!--for mobile websites-->
<meta name="google" content="notranslate" />
<!-- css cdn -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<!-- cdn for jQuery must be before that of JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

<link href="https://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="/static/stylesheets/announcement.css">
<% include ./partials/header %>
</head>
<% include ./partials/navbar %>
<body>
  <br><br><br>
  <div class="announcement">
    <h1><i class="fas fa-bullhorn"></i>  Announcements</h1>
  </div>

<div class="search">
<input class="searchbox" type="text" placeholder="Search  " name="" value="" style="height:40px;width:250px;text-align:right;" >
<button type="button" name="button" class="search_button" style="height:38px;width:40px;"><i class="fas fa-search" style="font-size:17px;"></i></button>
</div>
<hr class="upper">

<!-- <ol>
  <button class="collapsible">Announcement1:anouncement preview   <i class="fa fa-caret-down"></i></button>
  <div class="content">
    We approach every challange holistically, with best-inclass expertise in data, creativity, media, technology, search, social and more. We call this Alchemy. It has the power to build our client's brand amd transform their business. And while it may seem like magic, we've got it down to a science.
  </div>
<hr class="under">
<button class="collapsible">Announcement2:anouncement preview   <i class="fa fa-caret-down"></i></button>
<div class="content">
  We approach every challange holistically, with best-inclass expertise in data, creativity, media, technology, search, social and more. We call this Alchemy. It has the power to build our client's brand amd transform their business. And while it may seem like magic, we've got it down to a science.
</div>
<hr class="under">

<button class="collapsible">Announcement3:anouncement preview   <i class="fa fa-caret-down"></i></button>
<div class="content">
  We approach every challange holistically, with best-inclass expertise in data, creativity, media, technology, search, social and more. We call this Alchemy. It has the power to build our client's brand amd transform their business. And while it may seem like magic, we've got it down to a science.
</div>
</ol> -->
<div class="container-fluid padding">
  <div class="row padding">

    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="team1.png">
        <div class="card-body">
          <h4 class="card-title">Yona Kim</h4>
          <p class="card-text">Yona Kim is a front-end developper with 2 weeks of experience.</p>
          <a href="#" class="btn btn-outline-secondary">See Profile</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="team2.png">
        <div class="card-body">
          <h4 class="card-title">Yona Kim</h4>
          <p class="card-text">Yona Kim is a front-end developper with 2 weeks of experience.</p>
          <a href="#" class="btn btn-outline-secondary">See Profile</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="team3.png">
        <div class="card-body">
          <h4 class="card-title">Yona Kim</h4>
          <p class="card-text">Yona Kim is a front-end developper with 2 weeks of experience.</p>
          <a href="#" class="btn btn-outline-secondary">See Profile</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="team1.png">
        <div class="card-body">
          <h4 class="card-title">Yona Kim</h4>
          <p class="card-text">Yona Kim is a front-end developper with 2 weeks of experience.</p>
          <a href="#" class="btn btn-outline-secondary">See Profile</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="team1.png">
        <div class="card-body">
          <h4 class="card-title">Yona Kim</h4>
          <p class="card-text">Yona Kim is a front-end developper with 2 weeks of experience.</p>
          <a href="#" class="btn btn-outline-secondary">See Profile</a>
        </div>
      </div>
    </div>


  </div>
</div>


<div class="next">
  <button type="button" class="btn btn-outline-secondary btn-lg ">&#8249;</button>
  <button type="button" class="btn btn-outline-secondary btn-lg ">&#8250;</button>
</div><br>
<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
coll[i].addEventListener("click", function() {
this.classList.toggle("active");
var content = this.nextElementSibling;
if (content.style.display === "block") {
  content.style.display = "none";
} else {
  content.style.display = "block";
}
});
}
</script>
 <% include ./partials/footer %>
</body>
