<!DOCTYPE html>
<html lang="en">
<head>
  <title>FAQ Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"> <!--for mobile websites-->
<!-- <script src="jquery-3.4.0.min.js"></script> -->



<link rel="stylesheet" href="/static/stylesheets/announcement.css">
 <% include ./partials/header %>

</head>
 <% include ./partials/navbar %>
<body>


  <br><br><br><br>
  <div class="announcement">
    <h1 style="font-size:40px;"><i class="far fa-question-circle"></i>  Frequently Asked Questions</h1>
  </div>


<!-- <div class="search-container">
    <form action="/action_page.php">
      <input type="text" placeholder="Search..  " name="search" style="text-align:right;height:50px;">
      <button type="submit" style="background-color:transparent;height:50px;"><i class="fa fa-search"></i></button>
    </form>
</div> -->
<hr class="my-4">

<ol id="qlist">
  <div id="accordion">
    <div class="card">
      <div class="card-header" id="heading-1">

        <div class="mb-0" style="padding-bottom:30px;">

          <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="false" aria-controls="collapse-1">
            I registered, but I can't log-in, what do I do?</a>
        </div>
      </div>
      <div id="collapse-1" class="collapse" data-parent="#accordion" aria-labelledby="heading-1">
        <div class="card-body">
          1) Make sure that you have verified your email address through the verification email we've sent you when you registered.<br><br>
          2) Make sure that you entered the correct email address and password.<br><br>
          3) Still now working? <a href="/services/contact-us">Contact us</a> :)
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading-2">

        <div class="mb-0" style="padding-bottom:30px;">

          <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
            I forgot my password, what do I do?
          </a>
        </div>
      </div>
      <div id="collapse-2" class="collapse" data-parent="#accordion" aria-labelledby="heading-2">
        <div class="card-body">
          1) Click the "Log In / Sign Up" button at the top right corner of the website.<br><br>
          2) Click the <text style="color:blue;">Find My Account</text> button at the bottom of the login page.<br><br>
          3) Enter the email address that you registered with and click <button class="btn btn-primary" style="background-color: #F4573C;" disabled>Reset Password</button>.<br><br>
          4) Check your email. You will have received an email with a link to reset your password.<br><br>
          5) You will be able to reset your password from the given link.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="heading-3">

        <div class="mb-0" style="padding-bottom:30px;">

          <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
            Something doesn't seem to work properly on the website.
          </a>
        </div>
      </div>
      <div id="collapse-3" class="collapse" data-parent="#accordion" aria-labelledby="heading-3">
        <div class="card-body">
          Please log in and <a href="/feedback">leave us a feedback</a>!
        </div>
      </div>
    </div>
  </div>
</ol>
<br><br><br>



<!-- <div class="next">
  <button type="button" class="btn btn-outline-secondary btn-lg ">&#8249;</button>
  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  <button type="button" class="btn btn-outline-secondary btn-lg ">&#8250;</button>
</div><br> -->


<script>
var coll = document.getElementsByClassName("collapsible");

var i;

for (i = 0; i < coll.length; i++) {
coll[i].addEventListener("click", function() {
this.classList.toggle("active");
var content = this.nextElementSibling;
if (content.style.display === "block") {
  content.style.display = "none";

} else {
  content.style.display = "block";
}
});
}

</script>













<% include ./partials/footer %>
</body>
</html>
