<!DOCTYPE html>
<html lang="en">
<head>
  <title>FAQ Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"> <!--for mobile websites-->


<link rel="stylesheet" href="/static/stylesheets/announcement.css">
 <% include ./partials/header %>
</head>
 <% include ./partials/navbar %>
<body>
  <br><br><br><br>
  <div class="announcement">
    <h1><i class="far fa-question-circle"></i>  Frequently Asked Questions</h1>
  </div>

<div class="search">
<input class="searchbox" type="text" placeholder="Search  " name="" value="" style="height:40px;width:250px;text-align:right;" >
<button type="button" name="button" class="search_button" style="height:38px;width:40px;"><i class="fas fa-search" style="font-size:17px;"></i></button>
</div>
<hr class="my-4">

<ol>
  <button class="collapsible">Question:frequently asked question?   <i class="fa fa-caret-down"></i></button>
  <div class="content">
    We approach every challange holistically, with best-inclass expertise in data, creativity, media, technology, search, social and more. We call this Alchemy. It has the power to build our client's brand amd transform their business. And while it may seem like magic, we've got it down to a science.
  </div>
<hr class="under">
<button class="collapsible">Question:frequently asked question?   <i class="fa fa-caret-down"></i></button>
<div class="content">
  We approach every challange holistically, with best-inclass expertise in data, creativity, media, technology, search, social and more. We call this Alchemy. It has the power to build our client's brand amd transform their business. And while it may seem like magic, we've got it down to a science.
</div>
<hr class="under">

<button class="collapsible">Question:frequently asked question?   <i class="fa fa-caret-down"></i></button>
<div class="content">
  We approach every challange holistically, with best-inclass expertise in data, creativity, media, technology, search, social and more. We call this Alchemy. It has the power to build our client's brand amd transform their business. And while it may seem like magic, we've got it down to a science.
</div>
</ol>
<br><br>
<div class="next">
  <button type="button" class="btn btn-outline-secondary btn-lg ">&#8249;</button>
  <button type="button" class="btn btn-outline-secondary btn-lg ">&#8250;</button>
</div><br>
<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
coll[i].addEventListener("click", function() {
this.classList.toggle("active");
var content = this.nextElementSibling;
if (content.style.display === "block") {
  content.style.display = "none";
} else {
  content.style.display = "block";
}
});
}
</script>
<% include ./partials/footer %>
</body>
</html>
