<!DOCTYPE html>
<html lang="en">
<head>
    <title> Contact Form </title>
    <meta charset="utf-8">
    <% include ./partials/header %>
    <link rel="stylesheet" href="/static/stylesheets/style_feedback.css">

</head>
<% include ./partials/navbar %>
<% include ./partials/modal %>
<body>

      <% include ./partials/navbar %>

      <div class="contact-title">
          <h1>Thank You</h1>
          <h2>Your feedback has been submitted.</h2>
      </div>

  </body>



</html>
