<% include ./partials/header %>

    <link rel="stylesheet" type="text/css" href="/static/stylesheets/style_feedback.css"> 
    <div class="contact-title">
        <h1>Thank You</h1>
        <h2>Your feedback has been submitted.</h2>
    </div>

<% include ./partials/footer %>
