<!DOCTYPE html>
<html lang="en">
<head>
  <title>MxTwebsite</title>
  <meta charset="utf-8">

  <% include ./partials/header %>
</head>

<% include ./partials/navbar %>

<body>
  <script>
  document.addEventListener("DOMContentLoaded", function (event) {
     type();
     movingBackgroundImage();
  });
</script>
<script type="text/javascript" src="/static/stylesheets/css/main.70a66962.js"></script>

<!--- Image Slider -->

<div id="home">
      <div class="container-fluid" id="mainDiv">
      <div id="slides" class="carousel slide" data-ride="carousel">
      <ul class="carousel-indicators">
        <li data-target="#slides" data-slide-to="0" class="active"></li>
        <li data-target="#slides" data-slide-to="1"></li>
        <li data-target="#slides" data-slide-to="2"></li>
      </ul>
      <div class="carousel-inner">

        <div class="carousel-item active text-center">
          <img src="/static/images/background2.jpg" class="center">
          <div class="overlay"></div>
                      <div class="carousel-caption">
                        <h1 class="display-2">MxT</h1>
                        <h3><span id="typed-strings" >
                            <span>Welcome to MxT</span>
                            <span>This is our Official Website.</span>
                          </span>
                          <span id="typed"></span><br></h3>
                          <button type="button" class="btn btn-outline-light btn-lg">Button1</button>
                          <button type="button" class="btn btn-primary btn-lg">Button2</button>
                      </div>
        </div>
        <div class="carousel-item text-center">
          <img src="/static/images/background.png" class="center">
          <div class="carousel-caption " >
            <h1 class="display-2">MxT</h1>
            <h3>Welcome to MxT</h3>
            <button type="button" class="btn btn-outline-light btn-lg">Button1</button>
            <button type="button" class="btn btn-primary btn-lg">Button2</button>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/static/images/background.png" class="center">
        </div>
      </div>
      </div>
      </div>
</div>

<!--- Jumbotron -->
<div class="container-fluid">
<div class="row Jumbotron">
  <div class="col-xs-12 col-md-9 col-lg-9 col-xl-12">
    <p class="lead">A web hosting service allows individuals
       and organizations to make their website accessible via
       the World Wide Web. Change content.
    </p>
  </div>
</div>
</div>

<!--- Empty Section -->
<div class="container-fluid padding">
<div class="row empty">
  <div class="col-12"></div>
</div>
</div>

<!--- Fixed background -->
<figure>
  <div class="fixed-wrap">
    <div id="fixed">
      <img src="/static/images/mac.png" class="img-fluid">
    </div>
  </div>
</figure>


<!--- Two Column Section -->
<div id="about">
<div class="container-fluid padding">
<div class="row Philosophy padding">
  <div class="col-lg-6"> <!--may or may not include col-md-12-->
    <h1>Our Philosophy</h1>
    <hr class="my-4">
    <p>(edit)We know the greatness in a disruptive era requires bold ambition,
      curious talent and a culture that believes we're smarter together.</p>
    <p>(edit)We approach every challange holistically, with best-inclass expertise in data,
       creativity, media, technology, search, social and more.
       We call this Alchemy. It has the power to build our client's brand
       amd transform their business. And while it may seem like magic, we've got it
       down to a science.</p>
  </div>
  <div class="col-lg-6">
    <img src="/static/images/team1.png" class="img-fluid"> <!--img-fluid is for responsiveness-->
  </div>
</div>
<hr class="my-4">
</div>
</div>

<!--- Empty Section -->
<div class="container-fluid ">
<div class="row empty">
  <div class="col-12"></div>
</div>
</div>
<!--Empty Section-->

<!--Projects-->
<section id="project"><br><br><br><br>
  <div class="container">
    <h1>Our Projects</h1>
    <hr class="my-4">
    <p class="sectionDesc">In the future, promise rejections that are not handled wi
      ll terminate the Node.js process with a non-zero exit code. In the future, promise rejections that are not handled wi
ll terminate the Node.js process with a non-zero exit code.</p>
    <div class="sectionContent">
      <div class="row hoverEffect">
        <div class="col-md-4 col-sm-4">
          <div class="item">
            <a class="overlay" href="#">
              <span class="content">
                <i class="mdi mdi-account-multiple icon"></i>
                Project 1
              </span>
              <img src="/static/images/projects/img-1.jpg" alt="">
            </a>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="item">
            <a class="overlay" href="#">
              <span class="content">
                <i class="mdi mdi-image-filter-center-focus-weak icon"></i>
                Project 2
              </span>
              <img src="/static/images/projects/img-2.jpg" alt="">
            </a>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="item">
            <a class="overlay" href="#">
              <span class="content">
                <i class="mdi mdi-airplay icon"></i>
                Project 3
              </span>
              <img src="/static/images/projects/img-3.jpg" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/Projects-->

<!--- Empty Section -->
<div class="container-fluid padding">
<div class="row empty">
  <div class="col-12"></div>
</div>
</div>
<!--/Empty section-->

<!--- Fixed background -->
<figure>
  <div class="fixed-wrap">
    <div id="fixed">
      <img src="/static/images/mac.png" class="img-fluid">
    </div>
  </div>
</figure>

<!--- Emoji Section -->
<button class="fun" data-toggle="collapse" data-target="#emoji">
click for fun</button>
<div id="emoji" class="collapse">
  <div class="container-fluid padding">
  <div class="row text-center"> <!--row가 없으면 이모지마다 하나의 row 를 차지하는데 row class있으면 row share하는거 가능-->
    <div class="col-sm-6 col-md-3">
      <img class="gif" src="/static/images/gif/panda.gif">
    </div>
    <div class="col-sm-6 col-md-3">
      <img class="gif" src="/static/images/gif/poo.gif">
    </div>
    <div class="col-sm-6 col-md-3">
      <img class="gif" src="/static/images/gif/unicorn.gif">
    </div>
    <div class="col-sm-6 col-md-3">
      <img class="gif" src="/static/images/gif/chicken.gif">
    </div>
  </div>
  </div>
</div>

<!--- Empty Section -->
<div class="container-fluid padding">
<div class="row empty">
  <div class="col-12"></div>
</div>
</div>

<!-- =============================  meet the team ===================== -->
<div id="teams"><br><br>
<div class="container-fluid padding">
<h1>Meet the Team</h1>
<hr class="my-4">
<section id="team">
  <div class="container">
  <div class="sectionContent">
    <div class="row">
      <div class="col-md-6">
        <div layout="row" class="item">
          <div class="avatar fsr">
            <img class="rounded-circle" src="/static/images/steven.jpeg" alt="">
          </div>
          <div class="info">
            <h4 class="name">Steven Joeng</h4>
            <span class="regency">Backend Developper</span>
            <p class="desc">Detract yet delight written farther his general.
              If in so bred at dare rose lose good.
              Feel and make two real miss use easy. Celebrated delightful an especially
              increasing instrument am.  </p>
               <a href="#" class="btn btn-outline-secondary">See Profile</a>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div layout="row" class="item">
          <div class="avatar fsr">
            <img class="rounded-circle" src="/static/images/yonakim.jpeg" alt="">
          </div>
          <div class="info">
            <h4 class="name">Yona Kim</h4>
            <span class="regency">Frontend Developper</span>
            <p class="desc">Detract yet delight written farther his general.
              If in so bred at dare rose lose good.
              Feel and make two real miss use easy. Celebrated delightful an especially
              increasing instrument am.  </p>
               <a href="#" class="btn btn-outline-secondary">See Profile</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">

      <div class="col-md-6">
        <div layout="row" class="item">
          <div class="avatar fsr">
            <img class="rounded-circle" src="/static/images/greg.jpeg" alt="">
          </div>
          <div class="info">
            <h4 class="name">Greg Kim</h4>
            <span class="regency">Backend Developper</span>
            <p class="desc">Detract yet delight written farther his general.
              If in so bred at dare rose lose good.
              Feel and make two real miss use easy. Celebrated delightful an especially
              increasing instrument am.  </p>
               <a href="#" class="btn btn-outline-secondary">See Profile</a>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div layout="row" class="item">
          <div class="avatar fsr">
            <img class="rounded-circle" src="/static/images/jungoh.jpeg" alt="">
          </div>
          <div class="info">
            <h4 class="name">Jungon Chang</h4>
            <span class="regency">Frontend Developper</span>
            <p class="desc">Detract yet delight written farther his general.
              If in so bred at dare rose lose good.
              Feel and make two real miss use easy. Celebrated delightful an especially
              increasing instrument am.  </p>
               <a href="#" class="btn btn-outline-secondary">See Profile</a>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div layout="row" class="item">
          <div class="avatar fsr">
            <img class="rounded-circle" src="/static/images/sangminlee.jpeg" alt="">
          </div>
          <div class="info">
            <h4 class="name">Sangmin Lee</h4>
            <span class="regency">Full Stack Developper</span>
            <p class="desc">Detract yet delight written farther his general.
              If in so bred at dare rose lose good.
              Feel and make two real miss use easy. Celebrated delightful an especially
              increasing instrument am.  </p>
               <a href="#" class="btn btn-outline-secondary">See Profile</a>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div layout="row" class="item">
          <div class="avatar fsr">
            <img class="rounded-circle" src="/static/images/nibbler.jpeg" alt="">
          </div>
          <div class="info">
            <h4 class="name">Nibbler</h4>
            <span class="regency">Visual</span>
            <p class="desc">Detract yet delight written farther his general.
              If in so bred at dare rose lose good.
              Feel and make two real miss use easy. Celebrated delightful an especially
              increasing instrument am.  </p>
              <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
               <a href="#" class="btn btn-outline-secondary">See Profile</a>
               <!--<button type="button" class="btn btn-primary btn-lg">Button2</button> -->
          </div>
        </div>
      </div>

    </div>
  </div>
  </div>
</section>
</div>
</div>
<!--/meet the team section-->

<!--- Empty Section -->
<div class="container-fluid padding">
<div class="row empty">
  <div class="col-12"></div>
</div>
</div>

<!--- Fixed background -->
<figure>
  <div class="fixed-wrap">
    <div id="fixed">
      <img src="/static/images/mac.png" class="img-fluid">
    </div>
  </div>
</figure>

<!--- Empty Section -->
<div class="container-fluid padding">
<div class="row empty">
  <div class="col-12"></div>
</div>
</div>
<!-- Counting
  ================================================== -->
  <section id="counting">
    <div class="container">
      <div layout="row" class="verticalStretch">

        <div class="item">
          <div class="number">1</div>
          <div class="text">Web Design Projects</div>
        </div>


        <div class="item">
          <div class="number">6</div>
          <div class="text">happy clients</div>
        </div>


        <div class="item">
          <div class="number">5</div>
          <div class="text">award winner</div>
        </div>

        <div class="item">
          <div class="number">999</div>
          <div class="text">cups of coffee</div>
        </div>

        <div class="item">
          <div class="number">0</div>
          <div class="text">members</div>
        </div>
      </div>
    </div>

  </section><!--/#counting-->


<!--- Connect -->
<div id="connect">
<div class="container-fluid padding">
<div class="row text-center padding">
  <div class="col-12">
    <h1>Connect</h1>
  </div>
  <div class="col-12 social padding">
    <a href="#"><i class="fab fa-facebook-square"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-google-plus-g"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-youtube"></i></a>
  </div>
</div>
</div>
</div>



<% include ./partials/footer %>

</body>
</html>
<!-- resources
Icon made by[<div>Icons made by <a href="https://www.flaticon.com/authors/ctrlastudio" title="Ctrlastudio">Ctrlastudio</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>]from www.flaticon.com
-->
