<!DOCTYPE html>
<html lang="en">
<head>
    <title> Contact Form </title>
    <meta charset="utf-8">
    <% include ./partials/header %>
    <link rel="stylesheet" href="/static/stylesheets/style_feedback.css">

</head>
<% include ./partials/navbar %>
<% include ./partials/modal %>
<body>







  <!-- Navigation -->
  <!--feedback section-->
    <div class="contact-title ">
      <h1>Feedback</h1><br><br>
      <h2>We always welcome any feedbacks.</h2>
    </div>
  <div class="contact-form">
    <form id="contact-form" method="post" action="/feedback">
      <!-- <input name="name" type="text" class="form-control" placeholder="Your Name" required><br>
      <input name="email" type="email" class="form-control" placeholder="Your Email" required><br> -->
      <textarea name="message" class="form-control" placeholder="Your Message"
       textarea rows="10" style="font-size: 20px;width:500px;" required></textarea><br>
      <input type="submit" class="form-control submit" style="font-size: 20px;"
       value="Send Message">
    </form>

  </div>


</body>

<!--- Footer -->
<% include ./partials/footer %>


</html>
