<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Reset Password</title>
    <% include ./partials/header %>

    <link rel="stylesheet" href="/static/stylesheets/page_reset.css">
  </head>
  <body>


        <!-- navigation bar -->
        <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top"
        >
            <div class="container-fluid"><!--so it takes up 100% of screen-->
                <a class="navbar-brand " href="/">
                  <img src="/static/images/this.png" id="logo">
                </a>
                <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                    <span class="navbar-toggler-icon"></span>
                </button> -->
            </div>
        </nav>

        <!-- empty rows -->
        <div class="container-fluid ">
        <div class="row empty">
          <div class="col-16"></div>
        </div>
        </div>


    <center id="resetForm"><h2>Reset Password</h2>

    <span style="color: red"><%= error_reset %></span>
    <form action="/auth/reset/password/<%= token %>" method="post">
        <div class="reset_content">

        <input id="confirm_password3" class="form-control" type="password" name="password" value=""
          placeholder="New Password" onkeyup="check(this)"
          style="margin-bottom: 10px;" required>



        <div style="position: flex; opacity: 0.5;">

        </div>
        <input id="confirm_password4" class="form-control" type="password" name="password2" value=""
          placeholder="Confirm New Password" onkeyup="check(this)"
          style="margin-bottom: 10px;" required>

        </div>

      <p id='message2'></p>

      <button class="btn btn-primary"
        style="position: relative; top: 10px;">Submit</button>
    </form>



    <script>
        var check = function(e) {
            var pass = document.getElementById("confirm_password3");
            var passConf = document.getElementById("confirm_password4");
            if (pass.value === passConf.value){
                  document.getElementById('message2').style.color = 'rgb(0, 255, 0)';
                  document.getElementById('message2').innerHTML = 'password matching';
              } else {
                  document.getElementById('message2').style.color = 'red';
                  document.getElementById('message2').innerHTML = 'password not matching';
            }
        }
    </script>

  </center>

  <% include ./partials/footer %>
  </body>
</html>
