.faquestion{
  font-size: 40px;
  padding-left: 15%;
  text-align: center;
  color:#666666;
  padding-top:40px;
  padding-bottom: 20px;
  font-weight:600;
}

.announcement{
  text-align: center;
  color:grey;
  padding-top:40px;
  padding-bottom: 20px;
}

#abc .card-text{
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-container{
  text-align: right;
  padding-right: 30px;
  font-size: 20px;
  background-color: transparent;
}
.upper{
  margin-left: 30px;
  margin-right: 30px;
}
.news{
  color:#404040;
  font-size:27px;
}

.news:hover{
  color:grey;
  text-decoration: underline;
}

.under{
  margin-top:60px;
  margin-right: 30px;
}

.next{
  text-align: center;
  font-size: 40px;
  padding: 30px;
}
.fa-chevron-right, .fa-chevron-left{
  color:#666666;
}
.fa-chevron-right:hover, .fa-chevron-left:hover{
  color:#d9d9d9;

}

#qlist {
  padding-left: 30px;
}



.mb-0 > a {
display: block;
position: relative;

padding-top: 20px;
padding-bottom: 20px;
color:grey;
font-size: 25px;
}
.mb-0 > a:hover { /*question letters@hover*/
color:grey;
font-size:25px;
background-color: transparent;
}

.mb-0 > a:after {
content: "\f078"; /* fa-chevron-down */
font-family: 'FontAwesome';
position: absolute;
right: 0;
color:grey;
font-size:20px;

padding-top: 20px;
padding-bottom: 40px;
}

.mb-0 > a[aria-expanded="true"]:after {
content: "\f077"; /* fa-chevron-up */

color: grey;
font-size:23px;
padding-top: 20px;
padding-bottom: 40px;
}

#accordion{

  padding-left: 20%;
  padding-right: 8%;
}
#accordion .collapsed{
  color: #666666;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 25px;

}
#accordion .collapsed:hover, #accordion .collapsed:after{


  color:grey;
   padding-top: 20px;
    padding-bottom: 20px;
    font-size: 25px;

}
#accordion .card-header{
  /* background-color: transparent; */

}
#accordion .card{
background-color: transparent;
  border: none;
}
@media screen and (max-width:400px){
  .faquestion{
    font-size: 30px;
    line-height: 30px;
    text-align: right;
    padding-right: 10%;
    padding-top: 20px;
    font-weight: 400;
    padding-left: 15%;
  }
  .mb-0 > a { /*question letter after hover&cursor not on*/
  padding-top: 10px;
  padding-bottom: 10px;
  color:grey;
  font-size: 20px;
  }
  .mb-0 > a:hover { /*question letters@hover*/
    font-size:20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #accordion .collapsed{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;

  }
  #accordion .collapsed:hover, #accordion .collapsed:after{
     padding-top: 10px;
      padding-bottom: 10px;
      font-size: 20px;

  }
}
