@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700';
@import 'https://fonts.googleapis.com/css?family=Kaushan+Script';


.reset_content{
  position: absolute;
  justify-content: center;
  max-width: 100%;
  width: 100%;
}

.reset_content input{
  width: 300px;
}

#message{
  left: 100px;
}
